/*=== Styling for 'thermostat_front_and_back' colour displays ===*/

/*=== CSS ===*/

#thermostat-display.low-usage {
  border: 5px solid #5CFF56;
  -webkit-box-shadow: 0px 0px 40px rgba(0,255,0,1), rgba(0,255,0,1) 0px 0px 40px inset;
  -moz-box-shadow: 0px 0px 40px rgba(0,255,0,1), rgba(0,255,0,1) 0px 0px 40px inset;
  box-shadow: 0px 0px 40px rgba(0,255,0,1), rgba(0,255,0,1) 0px 0px 40px inset; /* FF00 */
}

#thermostat-display.medium-usage {
  border: 5px solid #FFFF3B;
  -webkit-box-shadow: 0px 0px 40px rgba(255,255,0,1), rgba(255,255,0,1) 0px 0px 40px inset;
  -moz-box-shadow: 0px 0px 40px rgba(255,255,0,1), rgba(255,255,0,1) 0px 0px 40px inset;
  box-shadow: 0px 0px 40px rgba(255,255,0,1), rgba(255,255,0,1) 0px 0px 40px inset;  /* #FFFF00 */
}

#thermostat-display.high-usage {
  border: 5px solid #FF3836;
  -webkit-box-shadow: 0px 0px 40px rgba(255,0,9,1), rgba(255,0,9,1) 0px 0px 40px inset;
  -moz-box-shadow: 0px 0px 40px rgba(255,0,9,1), rgba(255,0,9,1) 0px 0px 40px inset;
  box-shadow: 0px 0px 40px rgba(255,0,9,1), rgba(255,0,9,1) 0px 0px 40px inset; /* FF0009 */
}
