/*==============
  IMPORTS
================*/
@import url('normalize.css');

/*==============
  LAYOUT
================*/
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  /*height: 100%;
  width: 100%;*/
  background-color: #000000;
}

body {
  height: 100%;
  width: 100%;
  padding-top: 8em;
  border: ;
  background-color: #000000;
}

/*Don't leave unused things in your code!*/
/*@media only screen and (min-width: 768px) { }*/
/* tablets and desktop */

.power-line {
  padding: 2em 0;
  margin-bottom: 2em;
  border-top: solid 10px #f20303;
  border-bottom: solid 10px #f20303;
  border-left: solid 40px black;
  border-right: solid 40px black;
/*  -webkit-box-shadow: 0px 0px 40px 2px rgba(242,3,3,1);*/
  box-shadow: 0px 0px 40px rgba(242,3,3,1), rgba(242,3,3,1) 0px 0px 40px inset;
}

/*==============
  COLOURS
================*/

.high-usage {
  color: #f20303;
}
.medium-usage {
  color: #FF8000;
}
.low-usage {
  color: #04B404;
}
.power-line.high-usage {
  background-color: #f20303;
}
.power-line.medium-usage {
  background-color: #FF8000;
}
.power-line.low-usage {
  background-color: #04B404;
}

.counter {
  padding: 2px;
  text-align: center;
}

#temperature {
  margin: 0 auto;
  max-width: 21%;
  height: 25%;
  font-size: 12em;
  color: #FAFAFA;
}
  #temperature:after {
    content: "°";
    color: #FAFAFA;;
  }

/*Not a great name - 'temperature-label' would be better.
*/#centigrade {
/*  Remember our vertical rhythm exercise? Try and make elements have margins on the bottom, not the top. Push down, not push up.*/
  margin-top: 2px;
  padding: 2px;
/*  Is this size declaration necessary? Isn't it 1em as default?*/
  font-size: 1em;
  color: #FAFAFA;
}

#buttons-container {
  margin: 20px 0;
/*  Why do you have padding on the inside of an invisible container?*/
  padding: 10px;
/*  I don't think this is needed*/
  display: flex;
/*  or this*/
  justify-content: center;
/*  2px is too thick*/
  border: 2px solid white;
}

a {
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: #FAFAFA;
  border: 2px solid white;

  /*border: 1px solid #A4A4A4;*/
}

.arrows {
  min-width: 10%;
  font-size: 5em;
  color: #F20303;
  text-shadow:0px 0px 35px #f20303;
}

#psm-indicator {
  display: block;
  float: left;
  height: 7.5%;
  color: #FAFAFA;
  /*border: 2px solid white;*/
}

#reset-button {
  display: block;
  clear: both;
  height: 5.5%;
  width: 14%;
  /*margin: 0;
  margin-top: 20px;
  padding: 10 60 10 60px;*/
}

/*#psm-bar {
  margin: 0;
}*/

}







@media only screen and (max-width: 767px) {
    /* phones */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}
