@import url('normalize.css');

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
              height: 100%;
               width: 100%;
               /*z-index: -1;*/
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
              /*margin: 0 0 0 0;*/
}

body {
  padding: 20px;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  border: 10px solid blue;
  background-color: #BEF781;
}

#center-banner {
  background: white;
  margin: 20px 0;
  padding: 10px;
  text-align: center;
}

#center-banner div {
  background: black;
  color: white;
  padding: 15px;
  max-width: 125px;
  margin: 5px;
}

#center-banner div {
  display: inline-block;
  text-align: left;
}
